.info {
  font-family: 'Amatic SC';
  font: 'cursive';
}

.info p {
  font-family: 'Roboto';
  font: 'normal';
}

.body {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(231, 231, 231, 1) 35%
  );
  opacity: 1;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-family: 'Amatic SC', 'cursive';
  font-size: 2.2rem;
  text-align: center;
  color: #001e00;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2 {
  font-family: 'Amatic SC', 'cursive';
  font-size: 4rem;
  text-align: center;
  color: #4ccd43;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: #666666;
  opacity: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75ch;
}

.iconHome {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2rem;
}
