.puppet {
  position: relative;
  height: 100%;
  width: 100%;
}

.faceContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.greenBlobContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
