@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:wght@400;700&display=swap');

.textContainer{
    display: flex;

    width:100vw;
    justify-content: center;
}

.main{
    text-align: center;
    margin: 10px 30px;
    flex-direction: row;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;;
    align-items: center;
    justify-content: center;
}

.lime{
    text-align: center;
    font-size: 64px;
    font-family: Amatic SC;
    color: #4ccd43;
}

.title{
    margin:0;
    font-size: 36px;
    font-family: Amatic SC;
    text-align: center;
}

.negrita{
    font-family: Roboto; 
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.text{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400; 
    text-align: center;
}
