.body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.audio__page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.audio__page audio {
    display: none;
}
.playButton {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 0 7px #666666;
  border-radius: 12px;

  background: rgb(76, 205, 67); /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(76, 205, 67, 1) 0%,
    rgba(76, 205, 67, 1) 0%,
    rgba(13, 137, 0, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(76, 205, 67, 1) 0%,
    rgba(76, 205, 67, 1) 0%,
    rgba(13, 137, 0, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(76, 205, 67, 1) 0%,
    rgba(76, 205, 67, 1) 0%,
    rgba(13, 137, 0, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ccd43', endColorstr='#0d8900',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.playButton:hover {
  filter: brightness(90%);
}

