.container {
  display: flex;
  flex-direction: row;
}

.text {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  color: black;
}

.button {
  padding: 0 0.8rem;
}

.button a {
  text-decoration: none;
}
