/* esto deberia importarse en el css global, no? */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.text {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
}

.button {
  padding: 0 0.8rem;
}
