@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #E7E7E7 100%) 0% 0% no-repeat padding-box ;
  background-size: auto;
  position:fixed;
  top:-50%;
  left:-50%;
  width:200%;
  height:200%;
}
 a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


