.bodypagenine {
    /*background-color: #E7E7E7; */
    padding: 0 0.5rem;
    display: grid;
    place-items: center;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(231, 231, 231, 1) 35%);
}

.h1 {
    /*top: 630px;
    left: 331px;
    width: 362px;
    height: 61px; */
    font-family: 'Amatic SC', 'cursive';
    font-size: 3rem;
    text-align: center;
    color: #001E00;
    opacity: 1;
}